<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipe</title>
    <link rel="stylesheet" href="/equipe.css" />
    <link rel="shortcut icon" href="./assets/images/logo.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/4e9705b432.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>

<body>
    <header class="cabecalhoPrincipal">
        <div class="container">
            <h1 class="cabecalhoPrincipal-titulo">
                <a href="/"><img src="./assets/images/logo.png" width="100px" alt="" /></a>
            </h1>

            <nav class="cabecalhoPrincipal-nav">
                <a class="cabecalhoPrincipal-nav-link drop" href="/">Home</a>
                <a class="cabecalhoPrincipal-nav-link drop" href="/equipe">Equipe</a>
                <a class="cabecalhoPrincipal-nav-link drop" href="/atletas">Atletas</a>
            </nav>
            <i class="fas fa-sign-out-alt fa-2x" onclick="logout()" style="color: #fff; cursor: pointer;"></i>

        </div>
    </header>

    <main>
        <center>
            <div class="dadosEquipe">
                <h1 class="tituloDadosPrin">Dados principais</h1>
                <img src="https://www.corinthians.com.br/assets/svg/corinthians.svg" width="100" alt="">
                <h2 style="color: white;">Corinthians <i class="fas fa-edit fa-sm" style="color: black; cursor: pointer;"></i></h2>
                <div class="dadosPrin">

                    <!-- <input type="text" id="nomeEquipe" class="inputDados" name="" placeholder="Nome da equipe:" id=""> 
                    <i id="iconNomeEquipe" class="fas iconEdit fa-edit fa-lg" style="margin-left: -15px"></i></i> -->

                    <input type="text" id="nomeResp" class="inputDados" name="" placeholder="Nome do responsável:" id="">
                    <i id="iconNomeResp" class="fas iconEdit fa-edit fa-lg" style="font-size: 30px; color: black; margin-left: -100px"></i></i>

                    <input type="text" id="telResp" class="inputDados" name="" placeholder="Telefone do resposável:" id="">
                    <i id="iconTelResp" class="fas iconEdit fa-edit fa-lg" style="font-size: 30px; color: black; margin-left: -100px"></i></i>

                    <input type="text" id="email" class="inputDados" name="" placeholder="E-mail:" id="">
                    <i id="iconEmail" class="fas iconEdit fa-edit fa-lg" style="font-size: 30px; color: black; margin-left: -100px"></i></i>
                </div>
                <hr>
                <div class="dadosTecnicos">
                    <div class="container">
                        <h1 style="margin: 0 0 20px; color: white;">Dados técnicos</h1>

                        <input type="text" id="tecnico" class="inputDados" name="" placeholder="Técnico:" id="">
                        <i id="iconTecn" class="fas iconEdit fa-edit fa-lg" style="font-size: 30px; color: black; margin-left: -20px"></i></i>

                        <input type="text" id="auxTecn" class="inputDados" name="" placeholder="Auxíliar técnico" id="">
                        <i id="iconAuxTecn" class="fas iconEdit fa-edit fa-lg" style="font-size: 30px; color: black; margin-left: -20px"></i></i>
                    </div>
                </div>
            </div>
        </center>
    </main>
</body>
<script src="./js/script.js"></script>
<script src="./js/equipe.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>