<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <title>Login</title>
    <link rel="shortcut icon" href="./assets/images/logo.ico" />
</head>

<body>
    <div class="form">
        <center>
            <img src="./assets/images/logo.png" width="150px" alt="" />
        </center>
        <input type="text" name="" id="email" required />
        <label for="pass" class="labelPass">
        <span class="contentPass">Email</span>
      </label>
        <input type="password" name="" id="pass" required />
        <label for="pass" class="labelPass">
        <span class="contentPass">Senha</span>
      </label>
        <button class="btn">
        <span> <a href="/equipe">Login</a></span>
      </button>
        <center>
            <fieldset>
                <legend>ou</legend>
            </fieldset>
        </center>
        <a href="/register" class="criarConta">crie sua conta</a>
    </div>
</body>

</html>