header {
  background-image: linear-gradient(
    to top right,
    rgb(135, 206, 235),
    rgb(0, 0, 139)
  );
  background-repeat: no-repeat;
}

.cabecalhoPrincipal {
  padding: 20px 0 0;
  box-shadow: 0px 8px 5px 0px rgba(171, 159, 171, 1);
}

.cabecalhoPrincipal-titulo {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
  text-decoration: none;
  color: inherit;
}

.cabecalhoPrincipal-nav-link {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  display: block;
  border-bottom: 1px solid #9799a6;
  font-weight: bold;
  font-size: 17px;
}

.cabecalhoPrincipal-nav-link:hover {
  text-decoration: none;
  color: skyblue;
}

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content: space-between;
}

.dadosEquipe {
  background: -webkit-linear-gradient(left, rgb(0, 0, 139), rgb(135, 206, 235));
  width: 95%;
  margin: 15px 0 50px;
  padding: 50px 0;
}

.dadosPrin {
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 30px 50px;
}

.inputDados {
  width: 21% !important;
  border-radius: 8px !important;
  height: 35px !important;
  margin: 0 20px !important;
}

hr {
  width: 50%;
  border-color: black;
  background-color: black;
  height: 1px;
}

.teste {
  display: flex;
  flex-direction: column;
}

.modal {
  height: 600px !important;
}

.modal-content {
  display: block !important;
  padding: 15px !important;
}

.modal-close {
  background-color: darkblue !important;
}

.inputAdd {
  margin-bottom: 50px !important;
  width: 100% !important;
}

.nomeTime {
  color: white;
  font-size: 40px;
}

.tituloDadosPrin {
  color: white;
  font-weight: 500;
  font-size: 43px !important;
}

.tituloDadosTecn {
  margin: 0 0 20px !important;
  color: white !important;
  font-size: 43px;
  font-weight: 500;
}

.iconEdit {
  cursor: pointer;
}

.botaoAddEquipe {
  color: white !important;
  text-decoration: none !important;
}

.btn-primary {
  color: #fff !important;
  background-color: darkblue !important;
  border-color: darkblue !important;
  margin: 30px 0;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.editarEquipe {
  margin: 0 0 50px
}

.dropdown {
  display: none;
}

@media (max-width: 829px) {
  .dadosEquipe {
    padding: 40px 0;
    margin: 10px 0 0;
    width: 100%;
  }
  .dadosPrin {
    display: flex;
    flex-direction: column;
  }
  .inputDados {
    width: 90% !important;
  }
  .iconEdit {
    margin: 8px 0 30px 5px !important;
  }
  .tituloDadosPrin {
    margin-left: 20px;
  }

  .modal {
    width: 95% !important;
  }
}

@media (max-width: 320px) {
  .tituloDadosPrin {
    font-size: 35px;
  }

  .dropdown {
    display: block;
    margin-top: -20px !important;
  }

  .dropdown-item {
    font-size: 20px !important;
    margin: 10px 0;
  }
  .dropdownColor {
    background-color: darkblue !important;
    border-color: darkblue !important;
  }

  .cabecalhoPrincipal {
    padding-bottom: 30px;
  }

  #iconExit,
  .cabecalhoPrincipal-nav {
    display: none;
  }
}

@media (max-width: 425px) {
  .alinhar {
    display: flex;
    justify-content: center
  }
}
