header {
  background-image: linear-gradient(
    to top right,
    rgb(135, 206, 235),
    rgb(0, 0, 139)
  );
  background-repeat: no-repeat;
}

.cabecalhoPrincipal {
  padding: 20px 0 0;
  box-shadow: 0px 8px 5px 0px rgba(171, 159, 171, 1);
}

.cabecalhoPrincipal-titulo {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
  text-decoration: none;
  color: inherit;
}

.cabecalhoPrincipal-nav-link {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  display: block;
  border-bottom: 1px solid #9799a6;
  font-weight: bold;
  font-size: 17px;
}

.cabecalhoPrincipal-nav-link:hover {
  text-decoration: none;
  color: skyblue;
}

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content: space-between;
}

.alinhar {
  display: flex;
  justify-content: center;
}

.form {
  width: 55%;
  height: 390px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 15px 15px 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

.form input {
  width: 100%;
  height: 50px;
  padding: 20px 0 0 0;
  color: black;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid darkblue;
  outline: none;
  padding-bottom: 5px;
}

.form label {
  transform: translateY(-50px);
  pointer-events: none;
}

.contentEmail,
.contentPass {
  position: absolute;
  top: 25px;
  color: #9b9b9b;
  transition: all 0.3s ease;
  float: left !important;
}

.form input:focus + .labelEmail .contentEmail,
.form input:valid + .labelEmail .contentEmail {
  transform: translateY(-100%);
  font-size: 14px;
  color: darkblue;
}

.form input:focus + .labelPass .contentPass,
.form input:valid + .labelPass .contentPass {
  transform: translateY(-100%);
  font-size: 14px;
  color: darkblue;
}

.dropdown {
  display: none;
}

.crieEquipe {
  margin-top: 20px;
  text-align: center;
  text-shadow: gray 0.1em 0.1em 0.2em;
  color: darkblue;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btn-primary {
  color: #fff !important;
  background-color: darkblue !important;
  border-color: darkblue !important;
  margin: 0 0 30px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(26, 26, 180) !important;
  border-color: rgb(26, 26, 180) !important;
}

@media (max-width: 765px) {
  .form {
    width: 95% !important;
  }
}

@media (max-width: 320px) {
  .tituloDadosPrin {
    font-size: 35px;
  }

  .dropdown {
    display: block;
    margin-top: -20px !important;
  }

  .dropdown-item {
    font-size: 20px !important;
    margin: 10px 0;
  }
  .dropdownColor {
    background-color: darkblue !important;
    border-color: darkblue !important;
  }

  .cabecalhoPrincipal {
    padding-bottom: 30px;
  }

  #iconExit,
  .cabecalhoPrincipal-nav {
    display: none;
  }
}
